@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  background: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.max-width-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.no-touch {
  pointer-events: none;
}

.hide {
  display: none;
}

.button-loader {
  width: 100%;
  max-width: 25px !important;
}

button.btn-link {
  border-radius: 25px;
  min-width: 75px;
  text-align: center;
  padding: 8px 12px;
  border: 1px solid;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}
button.btn-link.disabled {
  opacity: 0.5;
  pointer-events: none;
}
button.btn-link.default {
  background: white;
  color: #5c666f;
  border-color: #5c666f;
}
button.btn-link.default:hover {
  background: #5c666f;
  color: white;
}
button.btn-link.round {
  background: transparent;
  border-radius: 50%;
  width: auto;
  min-width: 0;
  border: none;
}
button.btn-link.round:hover {
  background: #eee;
}
button.btn-link.blue-btn {
  border-color: #165e7a;
  background: #165e7a;
  color: white;
}
button.btn-link.blue-btn:hover {
  border-color: #013e55;
  background: #013e55;
  color: white;
}
button.btn-link.orange-btn {
  background: #ff9e15;
  color: white;
  border-color: #ff9e15;
}
button.btn-link.orange-btn:hover {
  border-color: #ffa92f;
  background: #ffa92f;
  color: white;
}
button.btn-link.added-btn {
  background: #5c666f !important;
  color: white !important;
  border-color: #5c666f !important;
  pointer-events: none;
}
button.btn-link.loading-btn {
  background: #5c666f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
button.btn-link.loading-btn img {
  margin: auto;
}

a.link {
  color: #2290bb;
  transition: 0.2s;
}
a.link:hover {
  color: #35acdb;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  z-index: 100;
}
nav .main-nav-content {
  background: #014964;
  padding: 0 5px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.2s;
}
@media (min-width: 400px) {
  nav .main-nav-content {
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  nav .main-nav-content {
    height: 70px;
    padding: 0 20px;
  }
}
nav .main-nav-content .user-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
nav .main-nav-content .user-container img {
  max-height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.2s;
  display: none;
}
@media (min-width: 400px) {
  nav .main-nav-content .user-container img {
    display: inline;
  }
}
@media (min-width: 768px) {
  nav .main-nav-content .user-container img {
    max-height: 40px;
  }
}
nav .main-nav-content .user-container .text-group p {
  color: white;
  margin-left: 10px;
  font-size: 0.7rem;
}
nav .main-nav-content .main-nav-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
}
nav .main-nav-content .main-nav-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
nav .main-nav-content .main-nav-list li:hover {
  background: rgba(255, 255, 255, 0.1);
}
nav .main-nav-content .main-nav-list li i {
  margin-right: 8px;
}
nav .sub-nav-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  background: #013e55;
  font-size: 1rem;
}
nav .sub-nav-content .sub-nav-list {
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}
nav .sub-nav-content .sub-nav-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  height: 100%;
  border-radius: 3px;
}
nav .sub-nav-content .sub-nav-list li:hover {
  background: rgba(255, 255, 255, 0.1);
}

main {
  margin-top: 80px;
  transition: 0.2s;
}
@media (min-width: 768px) {
  main {
    margin-top: 110px;
  }
}

.no-orders {
  height: auto;
  width: 100%;
  color: white;
  min-height: 90vh;
  background: #165e7a;
}
.no-orders .hero {
  padding: 25px;
  background: #013a50;
  text-align: center;
}
.no-orders .hero button {
  margin-top: 12px;
}
.no-orders .hero .ado-disclaimer {
  margin: 20px auto;
}
.no-orders .hero .hero-copy {
  color: #35acdb;
  max-width: 300px;
  margin: 10px auto;
  line-height: 1.3rem;
}
.no-orders .content-block {
  height: 100%;
  width: 100%;
  padding: 25px;
}
.no-orders .content-block img.content-block-logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 250px;
}
.no-orders .content-block .content-points {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: px;
  max-width: 1100px;
  margin: 35px auto 0;
}
.no-orders .content-block .content-points .point {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  max-width: 350px;
  min-width: 300px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.2s;
  margin-bottom: 10px;
  min-height: 250px;
}
.no-orders .content-block .content-points .point:hover {
  background: rgba(255, 255, 255, 0.05);
}
.no-orders .content-block .content-points .point .badge {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: cneter;
  height: 85px;
  width: 85px;
  background: #013e55;
  border-radius: 50%;
  overflow: hidden;
}
.no-orders .content-block .content-points .point .badge i {
  font-size: 2rem;
  margin: auto;
}
.no-orders .content-block .content-points .point h3 {
  font-size: 1.15rem;
  margin: 5px auto;
}
.no-orders .content-block .content-points .point p {
  line-height: 1.25rem;
}

.heart:hover i {
  animation: heartBeat 2s ease infinite;
}

.shipping:hover i {
  animation: backOutRight 3s ease forwards;
}

.money:hover i, .percent:hover i {
  animation: flipInY 1s ease infinite;
}

.tag:hover i {
  animation: swing 1s ease forwards;
}

.check:hover i {
  animation: rubberBand 1s ease forwards;
}

.user-dashboard {
  height: auto;
  width: 100%;
  min-height: 100px;
  padding: 15px 0;
  color: white;
  background: #013e55;
}
.user-dashboard .max-width-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.user-dashboard .max-width-content .dashboard-info, .user-dashboard .max-width-content .carousel-content {
  height: 100px;
  width: 100%;
}
.user-dashboard .max-width-content .dashboard-info {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.user-dashboard .max-width-content .dashboard-info .group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.user-dashboard .max-width-content .dashboard-info .group img {
  width: 100%;
  max-width: 200px;
}
.user-dashboard .max-width-content .dashboard-info .group p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-top: 10px;
}
.user-dashboard .max-width-content .dashboard-info .group p .badge {
  margin-left: 10px;
  color: #013e55;
  background: white;
  height: 15px;
  width: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container {
  height: auto;
  width: 100%;
  position: relative;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu {
  background: #eee;
  border-radius: 3px;
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
  z-index: 5;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu:hover {
  background: #e6e6e6;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu:hover .select-order-arrow {
  background: #ccc;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu div {
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-number {
  background: rgba(204, 204, 204, 0.4);
  color: #394045;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 600;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-date {
  padding: 0 5px;
  color: #5c666f;
  width: 100%;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-date p.large {
  display: none;
}
@media (min-width: 450px) {
  .user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-date p.small {
    display: none;
  }
  .user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-date p.large {
    display: block;
  }
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-arrow {
  background: rgba(204, 204, 204, 0.4);
  color: #394045;
  padding: 10px;
  transition: 0.2s;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-arrow i {
  transition: 0.2s;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .custom-select-menu .select-order-arrow i.active {
  transform: rotate(180deg);
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .select-drop-down {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  min-height: 100px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
  pointer-events: none;
  opacity: 0;
}
.user-dashboard .max-width-content .dashboard-info .custom-select-menu-container .select-drop-down.active {
  pointer-events: auto;
  opacity: 1;
  top: 110%;
}
.user-dashboard .max-width-content .carousel-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: cneter;
  display: none;
  padding: 0 15px;
  max-height: 100px;
}
.user-dashboard .max-width-content .carousel-content img {
  max-height: 100px;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .user-dashboard .max-width-content .carousel-content {
    display: flex;
  }
}

.side-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: background 1s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  display: none;
  animation: overlay 1s 0.3s ease forwards;
}
.side-overlay.active {
  display: flex;
}
.side-overlay .panel-right {
  height: 90%;
  width: 100%;
  margin-top: auto;
  background: #edf1f3;
  box-shadow: -6px -3px 12px rgba(0, 0, 0, 0.25);
  transform: translate3d(300%, 0, 0);
  animation: slideInUp 0.8s 1s ease forwards;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .side-overlay .panel-right {
    width: 100%;
    max-width: 450px;
    height: 100%;
    border-radius: 0;
    animation: slideInRight 0.6s 1s ease forwards;
  }
}
.side-overlay .panel-right.innactive {
  animation: slideOutDown 0.3s ease forwards;
}
@media (min-width: 768px) {
  .side-overlay .panel-right.innactive {
    animation: slideOutRight 0.3s ease forwards;
  }
}

@keyframes overlay {
  100% {
    backdrop-filter: blur(3px);
    background: rgba(35, 51, 76, 0.491);
  }
}
.create-new-order-flow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.progress-container {
  background: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
}
.progress-container .progress-point.disabled {
  opacity: 0.3;
}
.progress-container .progress-point.disabled p {
  color: #5c666f;
}
.progress-container .progress-point.disabled .badge {
  background: #5c666f;
}
.progress-container .badge {
  background: #165e7a;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.progress-container p {
  color: #165e7a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
.progress-container p .badge {
  font-size: 0.8rem;
  margin-right: 5px;
  font-weight: 600;
}

.add-products-flow {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px;
  color: #5c666f;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.add-products-flow h2.header {
  font-size: 1.15rem;
  margin: 15px auto;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1.2s 2s ease forwards;
}
.add-products-flow .select-container {
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
  opacity: 0;
  animation: fadeInUp 1s 2.5s ease forwards;
  z-index: 100;
}
.add-products-flow .select-container .custom-select-menu {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.add-products-flow .select-container .custom-select-menu:hover .select-arrow {
  background: rgba(204, 204, 204, 0.8);
}
.add-products-flow .select-container .custom-select-menu p.selected-option {
  margin-left: 10px;
  font-weight: 600;
}
.add-products-flow .select-container .custom-select-menu .select-arrow {
  transition: 0.2s;
  background: #e1e1e1;
  height: 100%;
  width: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: ash-gray;
}
.add-products-flow .select-container .custom-select-menu .select-arrow i {
  transition: 0.3s;
}
.add-products-flow .select-container .custom-select-menu .select-arrow i i.active {
  transform: rotate(-180deg);
}
.add-products-flow .select-container .dropdown-menu {
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.add-products-flow .select-container .dropdown-menu.active {
  pointer-events: auto;
  opacity: 1;
  top: 110%;
}
.add-products-flow .select-container .dropdown-menu ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.add-products-flow .select-container .dropdown-menu ul li {
  padding: 6px 5px;
  width: 100%;
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2px;
}
.add-products-flow .select-container .dropdown-menu ul li:last-child {
  margin-bottom: 0;
}
.add-products-flow .select-container .dropdown-menu ul li.active {
  background: #eee;
  pointer-events: none;
}
.add-products-flow .select-container .dropdown-menu ul li:hover {
  background: rgba(238, 238, 238, 0.5);
}
.add-products-flow .product-catalog {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  animation: fadeInUp 1s 3s ease forwards;
}
.add-products-flow .product-catalog .section {
  width: 100%;
}
.add-products-flow .product-catalog .section h3 {
  margin-bottom: 15px;
}
.add-products-flow .product-catalog .section h3.section-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.15rem;
  padding: 15px 10px;
  border-radius: 3px;
  width: 100%;
  background: #e3e6e8;
  text-align: center;
  display: block;
}
.add-products-flow .product-catalog .catalog {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.add-products-flow .product-catalog .catalog .product-card {
  background: white;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;
  animation: backInUp 1s ease forwards;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: none;
  border-left: 4px solid transparent;
}
.add-products-flow .product-catalog .catalog .product-card.added {
  border-color: #63c7b0;
}
.add-products-flow .product-catalog .catalog .product-card img {
  max-width: 50px;
  margin-right: 10px;
  padding-right: 10px;
}
@media (min-width: 500px) {
  .add-products-flow .product-catalog .catalog .product-card img {
    max-width: 80px;
  }
}
.add-products-flow .product-catalog .catalog .product-card .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .name-and-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .name-and-info h3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.9rem;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .name-and-info button {
  margin-left: 5px;
  border-radius: 25px;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .price-and-add {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .price-and-add p {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  margin-right: auto;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .price-and-add p span.strike {
  color: #ccc;
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-right: 10px;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .price-and-add button {
  margin-left: auto;
  min-width: 80px;
  background: #e3e6e8;
  border-color: #e3e6e8;
  color: #5c666f;
  transition: 0.3s;
}
.add-products-flow .product-catalog .catalog .product-card .card-content .price-and-add button:hover {
  border-color: #165e7a;
  background: #165e7a;
  color: white;
}

.panel-right .main-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  background: #e0e4e5;
}
.panel-right .main-btn-container button {
  width: 100%;
}
.panel-right .main-btn-container button:first-child {
  margin-right: 5px;
}

.panel-price-summary {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  background: #145771;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.panel-price-summary:hover {
  background: #165e7a;
}
.panel-price-summary:hover .toggle-summary-btn {
  background: #165e7a;
}
.panel-price-summary:hover .toggle-summary-btn i {
  color: white;
}
.panel-price-summary .toggle-summary-btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 2px solid white;
  transition: 0.3s;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.05);
  top: 0px;
}
.panel-price-summary .toggle-summary-btn i {
  color: #013e55;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
