// brand colors

$happiness-orange: #ff9e15;
$neora-blue: #64b1bc;
$ash-gray: #5c666f;
$cool-gray: #a3a9ac;
$apple-green: #81db41;
$sailor-blue: #264b59;
$sky-blue: #8bdde1;

$deep-blue-light: #013e55;
$deep-blue-dark: #165e7a;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Inter', sans-serif;
