@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button,
textarea {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 3px;
  background: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

body {
  font-family: $primary-font;
  font-size: 14px;
}
