.max-width-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.no-touch {
    pointer-events: none;
}

.hide {
    display: none!important;
}

.button-loader {
    width: 100%;
    max-width: 25px!important;
}